// sass-lint:disable hex-notation
/// Mapa de cores padrão da interface **UI**
///
/// @group settings
///
:root {
  --principal: #2E2E2E;
  --fundo: #F5F5F5;
  --elemento: #FFF;
  --destaque: #e4e4e4;
  --terceira: #EFEFEF;

  --verde: #3CAF88;
  --vermelho: #C52E2F;
  --roxo: #A53DDB;
  --amarelo: #EEC322;
  --azul: #09558F;
}
