// sass-lint:disable hex-notation
/// Mapa de cores padrão da interface **UI**
///
/// @group settings
///
:root {
  --branco: #FFFFFF;
  --cinza-claro: #F5F5F5;
  --cinza: #EFEFEF;
  --cinza-escuro: #E4E4E4;
  --preto: #2E2E2E;
  --verde: #3CAF88;
  --vermelho: #C52E2F;
  --roxo: #A53DDB;
  --amarelo: #EEC322;
  --azul: #09558F;
}
