// sass-lint:disable hex-notation
/// Mapa de cores padrão da interface **UI**
///
/// @group settings
///
:root {
  --back: #DCE8F2;
  --principal: #2995D9;
  --secundario: #2D3773;
  --base: #FFFFFF;


  --preto: #2995D9;
  --verde: #3CAF88;
  --vermelho: #C52E2F;
  --roxo: #A53DDB;
  --amarelo: #EEC322;
  --azul: #09558F;
}
