/// Mapa de configuração referente aos tamanhos
/// @group settings
///

:root {
  --size4: 0.25rem;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size30: 1.875rem;
  --size36: 2,25rem;
  --size40: 2.5rem;
  --size36: 2.25rem;
  --size48: 3rem;
  --size50: 3.125rem;
  --size60: 3.75rem;
}
