@import '../../../theme/variables.scss';

.cabecalho {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 var(--large);

  &__titulo {
    @include titulo;
    flex: 1;
  }

  &__voltar,
  &__busca,
  &__notificacao,
  &__perfil {
    height: var(--size36);
    width: var(--size36);
    border-radius: var(--circulo);
    background: var(--cinza-escuro) url('../../../assets/svg/voltar.svg') no-repeat center;
  }

  &__voltar {
    margin-right: var(--size10);
  }

  &__busca {
    background: var(--cinza-escuro) url('../../../assets/svg/busca.svg') no-repeat center;
  }

  &__notificacao {
    background: var(--cinza-escuro) url('../../../assets/svg/notificacao.svg') no-repeat center;
    margin-left: var(--size10);
  }

  &__perfil {
    background: var(--cinza-escuro) url('../../../assets/svg/usuario.svg') no-repeat center;
    margin-left: var(--size10);
  }

  &__notificacao--alerta {
    background-color: #fff;
  }
}
