@import '../../../theme/variables.scss';

.cabecalho {
  width: 100%;
  height: var(--size60);
  display: flex;
  align-items: center;
  padding: 0 var(--large);

  &__titulo {
    @include titulo;
    flex: 1;
  }

  &__voltar,
  &__busca,
  &__notificacao,
  &__perfil {
    @include circulo(var(--size36));
  }

  &__voltar {
    margin-right: var(--size10);
  }

  &__notificacao,
  &__perfil {
    margin-left: var(--size10);
  }
}
