<section class="classificacao">
  <app-cabecalho [titulo]="'Classificação'" [busca]="true"></app-cabecalho>

  <app-oops *ngIf="habilitarOops" [texto]="'Nenhuma aposta no periodo.'"></app-oops>

  <div class="classificacao__conteudo" *ngIf="!habilitarOops">
    <app-item-classificacao [classificacao]="perfil" [perfil]="true" (itemClassificacaoResposta)="itemClassificacaoResposta($event)"></app-item-classificacao>

    <div *ngFor="let item of classificacao">
      <app-item-classificacao [classificacao]="item" (itemClassificacaoResposta)="itemClassificacaoResposta($event)"></app-item-classificacao>
    </div>
  </div>
</section>

<app-menu [pagina]="'classificacao'"></app-menu>
