@font-face {
  font-family: museo-100;
  src: url('../assets/fonts/MuseoSansRounded100.otf') format('opentype');
}

@font-face {
  font-family: museo-500;
  src: url('../assets/fonts/MuseoSansRounded500.otf') format('opentype');
}

@font-face {
  font-family: museo-900;
  src: url('../assets/fonts/MuseoSansRounded900.otf') format('opentype');
}
