@import '../../../theme/variables.scss';

.entrar {
  @include page;

  &__conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: var(--size20);
    height: calc(100% - 80px);
  }

  &__botoes {
    margin: var(--size20) 0 0;
    margin-top: auto;
  }
}
