<section class="entrar">
  <app-cabecalho
    [titulo]="'Cadastrar'"
    [voltar]="true"
  ></app-cabecalho>

  <div class="entrar__conteudo">
    <div class="entrar__texto">
      <h2>Um novo jeito de apostar</h2>

      <br>

      <h4>Um novo jeito de apostar em eventos esportivos. Aqui você precisa dominar todos aqueles números que só um
        matemático ou estudioso em futebol pode entender.</h4>

      <br>

      <h2>entre para o bolão</h2>

      <br>

      <h3>Além de apostar em partidas de futebol você pode criar grupos fechados entre amigos, aumentar o valor da
        aposta
        e brincar com aquele seu colega que não entende nada de futebol.
        <br>
        Veja também se consegue ficar no topo da
        Classificação.
      </h3>

      <br><br>

      <h4>Já é cadastrado? Entre agora, aposte, ganhe e confira o sua classificação entre os melhores.</h4>
    </div>

    <div class="entrar__botoes botao__varios">
      <app-botao-secundario
        [texto]="'Entrar'"
        (click)="selecionarBotao('entrar')"
      ></app-botao-secundario>

      <app-botao-principal
        [texto]="'cadastrar'"
        (click)="selecionarBotao('cadastrar')"
      ></app-botao-principal>
    </div>
  </div>
</section>
