@import '../../../theme/variables.scss';

.cadastro-politica {
  @include page;

  &__conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: var(--size20);
  }

  &__texto {
    margin-bottom: var(--size40);
  }
}
