@import '../../../theme/variables.scss';

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: var(--base);
  background-color: var(--fundo);

  &__item {
    @include circulo(var(--size48), var(--fundo));
    flex: 0 1 auto;

    svg>path,
    g {
      fill: var(--destaque);
    }
  }

  &__item--ativo {

    svg>path,
    g {
      fill: var(--principal);
    }
  }

  &__item--alerta {

    svg>path,
    g {
      fill: var(--vermelho);
    }
  }
}
