.menu {
  height: var(--size48);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 var(--large);
  position: absolute;
  bottom: 0;

  &__item {
    flex: 0 1 auto;
    height: var(--size48);
    width: var(--size48);
    border-radius: var(--circulo);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: var(--principal);
  }

  &__item--ativo {
    background-color: var(--base);
  }
}
